<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{%block title%}Django Web Programming{%endblock%}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {%block extra-style%}{%endblock%}
</head>
<body style="padding-top:90px;">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Django - Python Web Programming</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'bookmark:index' %}">Bookmark</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:post_archive' %}">Archive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:search' %}">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'photo:index' %}">Photo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/">Admin</a>
            </li>
        </ul>
        <li class="nav-item dropdown mx-1 btn btn-primary">
            <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">Add</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'bookmark:add' %}">Bookmark</a>
                <a class="dropdown-item" href="{% url 'blog:add' %}">Post</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Album</a>
                <a class="dropdown-item" href="#">Photo</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-1 btn btn-primary">
            <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">Change</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'bookmark:change' %}">Bookmark</a>
                <a class="dropdown-item" href="{% url 'blog:change' %}">Post</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Album</a>
                <a class="dropdown-item" href="#">Photo</a>
            </div>
        </li>
        <ul class="navbar-nav ml-5 mr-5">
            <li class="nav-item dropdown mx-1 btn btn primary">
                {% if user.is_active %}
                <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
                    <i class="fas fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                    {% else %}
                <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
                    <i class="fas fa-user"></i>&ensp;Not Logged in
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                    <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </li>
        </ul>
        <span class="navbar-text">
            Navbar text
        </span>
    </div>
</nav>


<div class="container">
    {%block content%}{%endblock%}
</div>

{%block footer%}{%endblock%}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c998a172fe.js"></script>

{%block extra-script%}{%endblock%}

</body>
</html>